In [1]:
!pip install pymysql

Collecting pymysql
  Using cached https://files.pythonhosted.org/packages/4f/52/a115fe175028b058df353c5a3d5290b71514a83f67078a6482cff24d6137/PyMySQL-1.0.2-py3-none-any.whl
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [9]:
import pymysql

connInfo = {
    'host': 'localhost',
    'port': 3306,
    'user': 'root',
    'passwd': 'root',
    'db': 'TESTDB',
    'charset': 'utf8mb4'
}

In [10]:
conn = pymysql.connect(**connInfo)

In [11]:
cursor = conn.cursor()

In [12]:
cursor.execute("SELECT * FROM Staff")

0

In [13]:
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('001', 'Mike', '002', 45, 'M', 60000, '2020-04-24 14:59:57');
"""

In [14]:
cursor.execute(sql)

1

In [15]:
conn.commit()

In [16]:
sql = """
SELECT ID, Name, DeptId, Age, Gender, Salary, recordDt FROM Staff
"""

In [17]:
cursor.execute(sql)

1

In [18]:
cursor.fetchall()

(('001',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2020, 4, 24, 14, 59, 57)),)

In [19]:
cursor.fetchall()

()

In [20]:
cursor.execute(sql)

1

In [21]:
result = cursor.fetchall()

In [22]:
result

(('001',
  'Mike',
  '002',
  45,
  'M',
  60000,
  datetime.datetime(2020, 4, 24, 14, 59, 57)),)

In [26]:
import datetime

result[0][6].strftime("%Y-%M-%d %H:%m:%S")

'2020-59-24 14:04:57'

In [27]:
cursor.execute("DELETE FROM Staff")

1

In [28]:
conn.commit()

In [29]:
import json
import time

path = 'Staff.json'
with open(path, 'r', encoding='utf-8') as f:
    jsondata = json.loads(f.read())

jsondata

{'001': {'ID': '001',
  'Name': 'Mike',
  'DeptId': '002',
  'Age': '45',
  'Gender': 'M',
  'Salary': '60000'},
 '002': {'ID': '002',
  'Name': 'Judy',
  'DeptId': '002',
  'Age': '30',
  'Gender': 'F',
  'Salary': '48000'},
 '003': {'ID': '003',
  'Name': 'Allen',
  'DeptId': '001',
  'Age': '22',
  'Gender': 'M',
  'Salary': '50000'},
 '004': {'ID': '004',
  'Name': 'Tom',
  'DeptId': '002',
  'Age': '47',
  'Gender': 'M',
  'Salary': '47000'},
 '005': {'ID': '005',
  'Name': 'Jack',
  'DeptId': '003',
  'Age': '36',
  'Gender': 'M',
  'Salary': '52000'},
 '006': {'ID': '006',
  'Name': 'Abby',
  'DeptId': '002',
  'Age': '24',
  'Gender': 'F',
  'Salary': '45000'},
 '007': {'ID': '007',
  'Name': 'Trump',
  'DeptId': '001',
  'Age': '80',
  'Gender': 'M',
  'Salary': '80000'},
 '008': {'ID': '008',
  'Name': 'Marry',
  'DeptId': '003',
  'Age': '29',
  'Gender': 'F',
  'Salary': '87000'}}

In [30]:
sql_insert = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES (%s, %s, %s, %s, %s, %s, %s);
"""

In [31]:
import time
t = time.strftime('%Y-%m-%d %H:%M:%S', time.localtime())
values = [tuple(jsondata[d].values()) + (t,) for d in jsondata]
values

[('001', 'Mike', '002', '45', 'M', '60000', '2021-11-14 15:36:46'),
 ('002', 'Judy', '002', '30', 'F', '48000', '2021-11-14 15:36:46'),
 ('003', 'Allen', '001', '22', 'M', '50000', '2021-11-14 15:36:46'),
 ('004', 'Tom', '002', '47', 'M', '47000', '2021-11-14 15:36:46'),
 ('005', 'Jack', '003', '36', 'M', '52000', '2021-11-14 15:36:46'),
 ('006', 'Abby', '002', '24', 'F', '45000', '2021-11-14 15:36:46'),
 ('007', 'Trump', '001', '80', 'M', '80000', '2021-11-14 15:36:46'),
 ('008', 'Marry', '003', '29', 'F', '87000', '2021-11-14 15:36:46')]

In [32]:
cursor.executemany(sql_insert, values)

8

In [33]:
conn.commit()