In [ ]:
from flask import Flask, request

app = Flask(__name__)

@app.route('/')
def index():
    return 'Hello Flask!'

@app.route('/hello/<username>')
def hello(username):
    return 'Hello {} !'.format(username)

# @app.route('/get_student_list/<classid>/<year>') # RESTful API
# def get_student_list(classid, year):
#     sql = """
#         SELECT student_id, student_name 
#         FROM tibametable 
#         WHERE classid='{}'
#             AND year='{}'
#     """.format(classid, year)
#     studentList = executeSQL(sql)
#     return studentList

# /hello_get?name=Allen&age=22
@app.route('/hello_get')
def hello_get():
    name = request.args.get('name')
    age = request.args.get('age')
    
    if name == None:
        return 'Who are you?'
    if age == None:
        return 'Hello {} .'.format(name)
    
    return 'Hello {}, you are {} years old.'.format(name, age)

if __name__ == '__main__':
    app.run(host='0.0.0.0', port=5001)

 * Serving Flask app '__main__' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on all addresses.
   WARNING: This is a development server. Do not use it in a production deployment.
 * Running on http://192.168.0.187:5001/ (Press CTRL+C to quit)
127.0.0.1 - - [14/Nov/2021 10:35:09] "GET /hello_get?name=ATed HTTP/1.1" 200 -
127.0.0.1 - - [14/Nov/2021 10:35:14] "GET /hello_get?name=ATed HTTP/1.1" 200 -
127.0.0.1 - - [14/Nov/2021 10:35:14] "GET /hello_get?name=ATed&age=25 HTTP/1.1" 200 -
127.0.0.1 - - [14/Nov/2021 10:35:24] "GET /hello_get?age=25 HTTP/1.1" 200 -
127.0.0.1 - - [14/Nov/2021 10:35:28] "GET /hello_get?age=25 HTTP/1.1" 200 -
127.0.0.1 - - [14/Nov/2021 10:35:28] "GET /hello_get?name=ATed&age=25 HTTP/1.1" 200 -
127.0.0.1 - - [14/Nov/2021 10:35:29] "GET /hello_get HTTP/1.1" 200 -

In [ ]:
0.0.0.0/0

In [ ]:
print(__name__)

In [ ]:
import test

In [ ]:
test.__name__

In [ ]:
main()